@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hind Vadodara', sans-serif;
}

:root{
    --back-layout-blue:#153d77;
    --back-layout-gray:#EFF0F4;
    --back-layout-darkGray:#D7D8DB;
    --back-layout-extraDarkGray:#D7D8DB;
}