<div class="leftMenu">
  <h2>Name and lastname</h2>
  <p>Job title</p>

  <ul>
      <li><h3>Books</h3></li>
      <li><button (click) = "changeFindBookComponent()" [ngClass] = "componentsStatus.findBookComponent ? 'selectedClass' : ''">Find Book</button></li>
      <li><button (click) = "changeAddNewBookComponent()" [ngClass] = "componentsStatus.addNewBookComponent ? 'selectedClass' : ''">Add New Book</button></li>
  </ul>

  <ul>
      <li><h3>Users</h3></li>
      <li><button (click) = "changeFindUserComponent()" [ngClass] = "componentsStatus.findUserComponent ? 'selectedClass' : ''">Find User</button></li>
      <li><button (click) = "changeAddNewUserComponent()" [ngClass] = "componentsStatus.addNewUserComponent ? 'selectedClass' : ''">Add New User</button></li>
  </ul>
  
  <ul>
      <li><button (click) = "changeSettingsComponent()" [ngClass] = "componentsStatus.settingsComponent ? 'selectedClass' : ''">Settings</button></li>
      <li><button>Logout</button></li>
  </ul>
</div>