<div class="container">
    <h2>Adding New Book To Library</h2>
    <label for="bookTitle">Book Title: </label><input type="text" id="bookTitle">
    <label for="authorName">Author Name: </label><input type="text" id="authorName">
    <label for="authorLastName">Author Last Name: </label><input type="text" id="authorLastName">
    <label for="bookGenre">Book Genre: </label><input type="text" id="bookGenre">
    <label for="yearOfPublishment">Year Of Publishment: </label><input type="text" id="yearOfPublishment">
    <label for="ISBN">ISBN Number: </label><input type="text" id="ISBN">
    <label for="publishingHouse">Publishing House: </label><input type="text" id="publishingHouse">
    <button>Add New Book</button>
</div>