<div class="container">
    <h2>Find Existing Book In Database</h2>
    <input type="text" placeholder="Type Something...">
    <select>
        <option value="">Serach By Anything</option>
        <option value="">Book Title</option>
        <option value="">Author Full Name</option>
        <option value="">Author First Name</option>
        <option value="">Author Last Name</option>
        <option value="">Year Of Publishment</option>
        <option value="">Publishing House</option>
        <option value="">ISBN</option>
    </select>
    <button>Find</button>
</div>